<!DOCTYPE html>
  <head>
    <title>Moving Bazar</title>
 <style type="text/css">
<!--
body {
    background-image: url(images/bg.png);
    
}
-->
 </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Moving Bazar</title>
    <meta name="description" content="moving-bazar: sell your stuff!">
    <meta name="author" content="Kinn Coelho Julião">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style9.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />    
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet' type='text/css'>
    <style type="text/css">
		<!--
		.Stile1 {color: #333333}
		-->
		#logo {
	       font-family: 'Rammetto One', cursive;
		}
		.product {
	       width: 289px;
		}
    </style>

    <script src="/js/modernizr.js"></script>
</head>
<!--start container -->
<div id="container">
<header>
    <nav>   
      <div id="logo"><a href="#">Moving Bazar</a></div>
      <div id="nav_social"><a target="_blank" href="http://www.facebook.com/kinncj"><img target="_blank" src="images/facebook_32.png" alt="Become a fan" width="32" height="32" /></a><a target="_blank" href="http://www.twitter.com/kinncj"><img src="images/twitter_32.png" alt="Follows on Twitter" /></a><a href="http://www.linkedin.com/in/kinncj"><img src="images/linkedin_32.png" alt="Linked in" /></a><a href="/contact"><img src="images/email_32.png" alt="Contact" width="32" height="32" /></a> </div>
  </nav>
  
    </header>

<div class="content">

          <ul class="ca-menu">
                    <li>
                        <a href="contact">
                            <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Contact...</h2>
                                <h3 class="ca-sub">... me by email</h3>
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="/contact">
                            <span class="ca-icon">I</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Products...</h2>
                                <h3 class="ca-sub">... that I want to sell</h3>
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="/about">
                            <span class="ca-icon">C</span>
                            <div class="ca-content">
                                <h2 class="ca-main">About</h2>
                                <h3 class="ca-sub">Why I'm selling my stuffs? </h3>
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="http://www.github.com/kinncj/moving-bazar" target="_blank">
                            <span class="ca-icon">S</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Fork this project</h2>
                                <h3 class="ca-sub">And help us improve this tool</h3>
                            </div>
                        </a>                    </li>
                </ul>
            {% block content %}
            {% endblock %}
    <div id="footer-container">
        <footer class="wrapper">
            <summary>
                <p>
                    <a href="http://www.kinncj.com.br" target="_blank">
                        Copyright &copy; kinncj.com.br -2011.
                    </a>
                </p>
            </summary>
            <a href="http://imediacreatives.it">Imediacreatives.it</a>
        </footer>
    </div>
    <script src="//code.jquery.com/jquery-1.8.0.min.js"></script>
</body>
</html>