{% extends 'base.html' %}
    {% block content %}  
           <form action="/contact" method="post">
	           <div class="table"> 
		            <table>
		                <tr>
		                    <td>Name: </td>
		                    <td><input type="text" name="name"/></td>
		                </tr>
		                <tr>
		                    <td>Email: </td>
		                    <td><input type="text" name="email"/></td>
		                </tr>
		                <tr>
		                    <td>Subject: </td>
		                    <td><input type="text" name="subject"/></td>
		                </tr>
		                <tr>
		                    <td>Message: </td>
		                    <td><textarea rows="36" cols="60" name="message"></textarea></td>
		                </tr>
		            </table>
	            </div>
           </form>      
    {% endblock %}